<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body style="background-color:beige;"> 

<app-navbar></app-navbar>

  <h1 class="tendenza">PRODOTTI DI TENDENZA</h1>

  <!-- CARDS -->

  <div class="tot">
    <div class="row">

        <!-- CARD 1 -->

        <div class="col-3 col-md-3  card_cont">
        <div class="card  card_cont" style="width: 18rem; border: 2px solid black;">
            <img src="https://i.pinimg.com/564x/84/3d/95/843d95018a8799a7dae2eda6f560be4e.jpg" class="card-img-top" alt="pantoloni_uomo" style="height: 320px; border-bottom: 2px solid black;">
            <div class="card-body" style="background-color: #d3d0c9;">
              <h5 class="card-title"><b>Pantaloni</b></h5>
              <p class="card-text"><b>Pantaloni donna <br> PREZZO: 30</b></p>
              <app-bottone [bottoneNome]="pantaloniDonna" [bottonePrezzo]="prezzoPantaloniDonna"></app-bottone>
            </div>
          </div>
        </div>

          <!-- CARD 2 -->

          <div class="col-3 col-md-3  card_cont">
          <div class="card  card_cont" style="width: 18rem; border: 2px solid black;">
            <img src="https://i.pinimg.com/564x/95/66/8f/95668f33122177d8f15fc035099241d1.jpg" class="card-img-top" alt="maglietta_uomo" style="height: 320px; border-bottom: 2px solid black;">
            <div class="card-body" style="background-color: #d3d0c9;">
              <h5 class="card-title"><b>Maglietta</b></h5>
              <p class="card-text"><b>Maglietta donna <br> PREZZO: 30</b></p>
              <app-bottone [bottoneNome]="magliettaDonna" [bottonePrezzo]="prezzoMagliettaDonna"></app-bottone>
            </div>
          </div>
        </div>

          <!-- CARD 3 -->

          <div class="col-3 col-md-3  card_cont">
          <div class="card  card_cont" style="width: 18rem; border: 2px solid black;">
            <img src="https://i.pinimg.com/564x/95/a4/7b/95a47bbfdc1c4c6ffb1cb83803da3073.jpg" class="card-img-top" alt="felpa_uomo" style="height: 320px; border-bottom: 2px solid black;">
            <div class="card-body" style="background-color: #d3d0c9;">
              <h5 class="card-title"><b>Felpa</b></h5>
              <p class="card-text"><b>Felpa donna <br> PREZZO: 50</b></p>
              <app-bottone [bottoneNome]="felpaDonna" [bottonePrezzo]="prezzoFelpaDonna"></app-bottone>
            </div>
          </div>
          </div>

          <!-- CARD 4 -->

          <div class="col-3 col-md-3  card_cont">
          <div class="card  card_cont" style="width: 18rem; border: 2px solid black;">
            <img src="https://i.pinimg.com/564x/78/c5/42/78c542df4bd250b3802ba11d9e2e30c8.jpg" class="card-img-top" alt="scarpe_uomo" style="height: 320px; border-bottom: 2px solid black;">
            <div class="card-body" style="background-color: #d3d0c9;">
              <h5 class="card-title"><b>Scarpe</b></h5>
              <p class="card-text"><b>Scarpe donna <br> PREZZO: 150</b></p>
              <app-bottone [bottoneNome]="scarpeDonna" [bottonePrezzo]="prezzoScarpeDonna"></app-bottone>
            </div>
          </div>
          </div>
  </div>
  </div>

  <br>
  <br>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>