@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tot{
    width: 100%;
    height: 100%;
}

.metà-sinistra{
    width: 50%;
    height: 1000px;
    float: left;
    background-image: url(https://i.pinimg.com/originals/90/7f/86/907f86d78c8c0aeef800fe444677a11c.jpg);
    background-repeat: no-repeat;
}

.metà{
    width: 50%;
    height: 1000px;
    float: right;
    background-image: url(https://i.pinimg.com/originals/29/d8/44/29d8446a27e388bcebba12a08d661137.jpg);
    background-repeat: no-repeat;
}

.immagine{
    width: 100%;
    height: 100%;
}

.titoli{
    font-size: 90px;
    color:grey;
    text-align: center;
    float: center;
    margin-right: auto;
    margin-left: auto;
    padding: 370px;
    font-family: 'Anton', sans-serif;
}